<footer class="site-footer panel mzp-c-footer mzp-has-lang-switcher">
  <div class="mzp-l-content">
    <nav class="grid-container grid-x grid-padding-x mzp-c-footer-primary">
      <div class="cell small-12 large-3">
        <div class="mzp-c-footer-primary-logo"><a href="https://www.mozilla.org/">Mozilla</a></div>
      </div>
      <section class="cell small-12 large-4 mzp-c-footer-section">
        <h4>
          <a href="https://addons.mozilla.org/">Add-ons</a>
        </h4>
        <ul>
          <li><a href="https://addons.mozilla.org/about">About</a></li>
          <li><a href="https://blog.mozilla.com/addons">Blog</a></li>
          <li><a href="https://addons.mozilla.org/developers/">Developer Hub</a></li>
          <li><a href="/documentation/publish/add-on-policies/">Developer Policies</a></li>
          <li><a href="https://discourse.mozilla.org/c/add-ons">Forum</a></li>
        </ul>
      </section>
      <section class="cell small-12 large-5 mzp-c-footer-section">
        <h4>
          <a href="https://www.mozilla.org/firefox/">Firefox</a>
        </h4>
        <ul>
          <li><a href="https://www.mozilla.org/firefox/new/?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral">Download Firefox</a></li>
          <li><a href="https://www.mozilla.org/firefox/?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral">Desktop</a></li>
          <li><a href="https://www.mozilla.org/firefox/mobile/?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral">Mobile</a></li>
          <li><a href="https://www.mozilla.org/firefox/features/?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral">Features</a></li>
          <li><a href="https://www.mozilla.org/firefox/channel/desktop/?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral">Beta, Nightly, Developer Edition</a></li>
          <li>
            <ul class="mzp-c-footer-links-social">
              <li><a class="twitter" href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
              <li><a class="youtube" href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
              <li><a class="github" href="https://github.com/mozilla">Github<span> (mozilla)</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <nav class="grid-container grid-x grid-padding-x mzp-c-footer-secondary">
      <div class="cell small-12 large-7 mzp-c-footer-legal">
        <ul>
          <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
          <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
          <li><a rel="nofollow" href="https://www.mozilla.org/about/legal/">Legal</a></li>
          <li><a class="edit" href="https://github.com/mozilla/extension-workshop/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a></li>
        </ul>
        <p class="mzp-c-footer-license">
          Portions of this content are ©1998–{{ 'now' | date: "%Y" }} by individual mozilla.org
          contributors. Content available under a
          <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
        </p>
      </div>


      {% comment %}
      <div class="cell small-12 large-5">
	      <form class="mzp-c-language-switcher mzp-t-dark" method="get" action="#" data-no-csrf>
	        <a class="mzp-c-cta-link" href="https://www.mozilla.org/locales/">Language</a>
	        <label for="mzp-c-language-switcher-select">Language</label>
	        <select id="mzp-c-language-switcher-select" class="mzp-js-language-switcher-select"
	         name="lang">
	          <option value="en-US">English (US)</option>
	          <option value="de">Deutsch</option>
	          <option value="fr">Français</option>
	          <option value="es-ES">Español</option>
	          <option value="ja">日本語</option>
	        </select>
	        <!-- form submit button is shown when JavaScript is not enabled -->
	        <button type="submit">Go</button>
	      </form>

	      <script src="/assets/js/protocol-lang-switcher.js"></script>

	      <script>
	        (function() {
	          'use strict';
	          // a custom callback can be passed to the lang switcher for analytics purposes.
	          Mzp.LangSwitcher.init(function(previousLanguage,
	            newLanguage) {
	            console.log('Previous language: ',
	              previousLanguage);
	            console.log('New language: ', newLanguage);
	          })
	        })();
	      </script>
	    </div>
      {% endcomment %}
    </nav>
  </div>
</footer>
