{%- if next_page.data.permalink and next_page.data.title %}
<a href="{{ next_page.data.permalink }}" class="cell auto tile tile-block-link">
    <div class="block-link">
        {%- if next_page.data.topic -%}<p>{{ next_page.data.topic }}</p>{%- endif -%}
        <h5>{{ next_page.data.title }}</h5>
    </div>
</a>
{% endif -%}
