# exclude everything by default
*.*
# exclude these files
Dockerfile
# exclude these directories
/node_modules/
Gemfile
rvm-installer
build/
*.lock
# Allow files we want to process
!*.js
!*.scss

assets/js/bundle.js
