# exclude everything by default
*.*
# exclude these files
Dockerfile
# exclude these directories
/node_modules/
/build/
/dist/
/coverage/
*.lock
tests/fixtures/
# Allow files we want to process
!*.js
!*.scss
