<header class="site-header">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <h3 class="logo"><a href="{{ "/" | relative_url }}">Extension Workshop</a></h3>
            <button class="hamburger hide-for-large hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <nav role="navigation" class="topNav" id="primary">
                {%- include nav.html -%}
                <a href="https://addons.mozilla.org/developers/addons" class="button large hide-for-large">Submit or Manage Extensions</a>
            </nav>
            <button class="search-input-open">Search</button>
            <a href="https://addons.mozilla.org/developers/addons" class="button show-for-large">Submit or Manage Extensions</a>
            <section class="search-input" role="search">
                {% include search-bar.html %}
                <button class="search-input-close"></button>
            </section>
        </div>
    </div>
</header>
