<header class="site-header">
    <div class="grid-container grid-x grid-padding-x">
        <div class="cell small-12">
            <h3 class="logo"><a href="{{ "/" | relative_url }}">Extension Workshop</a></h3>
            <button class="hamburger hide-for-large hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <nav role="navigation" class="topNav" id="primary">
                <ul class="level-one">
                    {% for item in site.data.documentation-pages.primary %}
                        {% if item.subfolderitems %}
                            <li class="has-children {% if page.url == item.url %}is-active{% endif %}">
                                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                <ul class="level-two">
                                    {% for entry in item.subfolderitems %}
                                        <li class="{% if page.url == entry.url %}is-active{% endif %}"><a href="{{ entry.url | relative_url }}">{{ entry.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="{% if page.url == item.url %}is-active{% endif %}"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a href="https://addons.mozilla.org/developers/addons" class="button large hide-for-large">Submit or Manage Extensions</a>
            </nav>
            <button class="search-input-open">Search</button>
            <a href="https://addons.mozilla.org/developers/addons" class="button show-for-large">Submit or Manage Extensions</a>
            <section class="search-input" role="search">
                {% include search-bar.html %}
                <button class="search-input-close"></button>
            </section>
        </div>
    </div>
</header>
