<section class="module meta-data">
	<article class="module-content grid-x grid-padding-x">
		<div class="cell small-12">

			{%- if page.tags and page.tags.size > 0 -%}
				<p><span class="meta-label tags">Tags:</span>&nbsp;
					{% for tag in page.tags %}
					  {% capture tag_name %}{{ tag }}{% endcapture %}
					  <a href="/tags/?q={{ tag_name | url_encode }}">{{ tag_name }}</a>&nbsp;
					{% endfor %}
				</p>
			{%- endif -%}

			{%- if page.contributors and page.contributors.size > 0 -%}
				<p><span class="meta-label contributors">Contributors:</span>&nbsp;
					{% for contributor in page.contributors %}
					  <a href="https://github.com/{{ contributor }}/" title="View {{ contributor }} on Github">{{ contributor }}</a>&nbsp;
					{% endfor %}
				</p>
			{%- endif -%}

			{%- if page.date -%}
				<p><span class="meta-label date">Last update:</span>&nbsp;
					{%- if page.last_updated_by -%}
	                    <a href="https://github.com/{{ page.last_updated_by }}/" title="View {{ page.last_updated_by }} on Github" itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.last_updated_by }}</span></a>&nbsp;
	                {%- endif -%}
	                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	                    {{ page.date | date: date_format }}
	                </time>
				</p>
			{%- endif -%}

		</div>
	</article>
</section>
