@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pv3fbv');
  src:  url('fonts/icomoon.eot?pv3fbv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?pv3fbv') format('woff2'),
    url('fonts/icomoon.ttf?pv3fbv') format('truetype'),
    url('fonts/icomoon.woff?pv3fbv') format('woff'),
    url('fonts/icomoon.svg?pv3fbv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-irc:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-youtube-play:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
