<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site full-width page-404">

    {%- include header.html -%}

    <main class="site-content" aria-label="Content">
    	<div class="grid-container grid-x grid-padding-x align-center align-middle tiles-intro">
            <div class="cell small-12">
		        {{ content }}
		    </div>
		</div>
    </main>

    {%- include connect.html -%}

    {%- include footer.html -%}

    <script src="/_assets/js/bundle.js"></script>
    <script src="/_assets/js/basket-client.js"></script>
  </body>
</html>
