/************************************************

Stylesheet: Content Guidelines Stylesheet

*************************************************/

// Style for "DRAFT" items in the sidebar nav
.draft {
  background-color: #ffe900;
  padding: 4px 3px;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 2px;
  text-transform: uppercase;
}

// Style for warnings
.warning {
  display: inline;
  background-color: #ffe900;
  border-radius: 2px;
  padding: 10px 6px;
  line-height: 1.5;

  img {
    margin-top: -1px;
    vertical-align: middle;
  }

  a {
    background: #d7b600;
    border-radius: 2px;
    color: #0c0c0d;
    padding: 6px 4px;

    &:hover,
    &:active,
    &:visited {
      color: #0c0c0d;
    }
  }
}

$sidebar-w-sm: rem-calc(200);
$sidebar-w: rem-calc(230);

.site.content-guidelines .site-wrapper {
  flex: 1 0 auto;
  width: 100%;

  // Header
  // ------

  .site-header {
    font-size: rem-calc(13);
    padding-bottom: rem-calc(50);
    position: relative;
    z-index: 100;
  }

  @include breakpoint(medium) {
    display: flex;
    flex-flow: row nowrap;

    .site-header {
      font-size: rem-calc(11);
      flex: 0 0 #{$sidebar-w-sm};
      width: $sidebar-w-sm;
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(30);
    }
    .site-content {
      flex: 1 1 auto;
    }
  }
  @include breakpoint(xlarge) {
    .site-header {
      font-size: rem-calc(13);
      flex: 0 0 #{$sidebar-w};
      width: $sidebar-w;
      padding-top: rem-calc(45);
      padding-bottom: rem-calc(45);
    }
  }

  .logo {
    font-size: rem-calc(15);
    margin: rem-calc(8 0 24);
    line-height: 1.1;

    a {
      padding: rem-calc(13 0 3 50);

      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: rem-calc(8);
        width: rem-calc(43);
        height: rem-calc(44);
        background: transparent asset_url('firefox-logo.png @optim') no-repeat
          center/contain;
      }
    }

    small.tagline {
      font-size: rem-calc(12);
      padding: rem-calc(0 0 14 50);
      font-weight: $global-weight-normal;
      color: inherit;
    }

    @include breakpoint(medium) {
      font-size: rem-calc(13);
      margin-top: rem-calc(4);

      a {
        padding: rem-calc(15 0 14 43);
        display: block;

        &::before {
          top: rem-calc(8);
          width: rem-calc(37);
          height: rem-calc(38);
        }
      }

      small.tagline {
        display: block;
        font-size: rem-calc(10);
        padding: rem-calc(5 0 14 0);
      }
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(15);
      margin-top: rem-calc(2);

      a {
        padding: rem-calc(15 0 17 50);

        &::before {
          width: rem-calc(43);
          height: rem-calc(44);
        }
      }
    }

    @include breakpoint(small down) {
      br {
        display: none;
      }
    }
  }

  .site-nav-container {
    .site-nav:focus {
      outline: none;
    }

    ul.pages {
      list-style: none;
      margin: 0;
      font-size: rem-calc(15);

      li {
        margin: 0;
      }

      a {
        color: $body-font-color;
        display: inline-block;
        padding: 0.25rem 0;
      }

      @include breakpoint(medium) {
        font-size: rem-calc(13);
        margin: rem-calc(24 0 30);

        .current a {
          color: $primary-color;
        }
      }
      @include breakpoint(xlarge) {
        font-size: rem-calc(15);
      }
      @include breakpoint(small down) {
        li.current {
          display: block;
          pointer-events: none;
        }
      }
    }

    .button {
      display: block;
      @include breakpoint(medium only) {
        font-size: 0.733333333333333rem;
        padding: rem-calc(6 8);
      }
      @include breakpoint(large only) {
        font-size: 0.733333333333333rem;
        padding: rem-calc(6 8);
      }
    }

    @include breakpoint(small down) {
      position: absolute;
      z-index: 10;
      top: rem-calc(66);
      left: rem-calc(12);
      width: calc(100% - #{rem-calc(24)});
      min-height: rem-calc(75);

      &::before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        top: rem-calc(-75);
        width: 100%;
        height: rem-calc(75);
        pointer-events: none;
        opacity: 0;
        background-image: linear-gradient(
          rgba($black, 0.333) 0,
          rgba($black, 0) 100%
        );
        transition: top 0 ease-in-out;
      }

      .site-nav {
        padding: rem-calc(12 15);
        background-color: $white;
        border-radius: $global-radius;
        box-shadow: $element-shadow;
        position: absolute;
        left: 0;
        top: rem-calc(12);
        width: 100%;
        max-height: calc(100vh - #{rem-calc(24)});

        &::after {
          @include icon_font($char: $icon-arrow-down);

          position: absolute;
          font-size: rem-calc(18);
          line-height: 1;
          top: rem-calc(20);
          right: rem-calc(15);
        }

        p,
        li {
          display: none;
        }

        p {
          margin: 0;
          padding: rem-calc(15 0 0);

          &:first-of-type,
          &:last-of-type {
            padding: rem-calc(24 0 0);
          }
        }

        .button {
          margin: 0;
        }

        &.open {
          &::after {
            @include icon_font($char: $icon-arrow-up);
          }

          &:focus {
            overflow-y: scroll;
          }

          .current a {
            color: $primary-color;
          }
        }
      }

      &.sticky {
        &::before {
          top: rem-calc(-20);
          opacity: 1;
          transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }

        .site-nav {
          position: fixed;
          top: rem-calc(12);
          left: rem-calc(12);
          width: calc(100% - #{rem-calc(24)});
        }
      }
    }
  }

  .back {
    &::before {
      @include icon_font($char: $icon-back);

      padding-right: 0.3em;
      display: inline-block;
    }
  }

  .site-metadata {
    color: $dark-gray;
    margin: 0;
    @include breakpoint(medium) {
      margin: rem-calc(30 0);
    }
  }

  // Page Content
  // ------

  .site-content {
    .post {
      padding: rem-calc(24 0);
      @include breakpoint(medium) {
        padding: rem-calc(45 0);
      }
      @include breakpoint(large) {
        padding: #{rem-calc(45)} 4.166666666666667%;
      }
      @include breakpoint(xlarge) {
        padding: #{rem-calc(60)} 8.333333333333333%;
      }

      .grid-container {
        max-width: $global-width - $sidebar-w;
      }
    }

    .post-content {
      .grid-container {
        padding: 0;
        margin-left: rem-calc(-6);
        margin-right: rem-calc(-6);
        @include breakpoint(medium) {
          margin-left: rem-calc(-12);
          margin-right: rem-calc(-12);
        }
      }
    }

    .page-bottom-nav {
      padding-bottom: rem-calc(24);
      @include breakpoint(medium) {
        padding: rem-calc(0 0 45);
      }
      @include breakpoint(large) {
        padding: 0 4.166666666666667% #{rem-calc(45)};
      }
      @include breakpoint(xlarge) {
        padding: 0 8.333333333333333% #{rem-calc(60)};
      }

      > .grid-container {
        max-width: $global-width - $sidebar-w;
      }

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        line-height: $header-lineheight * 1.3;
        list-style: none;
        margin: 0;
      }

      li {
        flex: 1 1 auto;
        margin: 0;

        &:last-child {
          text-align: right;
        }
      }

      a {
        display: inline-block;
      }

      li:first-child a::before {
        @include icon_font($char: $icon-back);

        display: inline-block;
        padding-right: 0.3em;
      }

      li:last-child a::after {
        @include icon_font($char: $icon-forward);

        display: inline-block;
        padding-left: 0.3em;
      }
    }
  }
}

// Moz Footer
// ------

.site.content-guidelines .site-wrapper + .site-footer {
  .mzp-l-content {
    .grid-container {
      max-width: $global-width - $sidebar-w;
    }
  }

  @include breakpoint(medium) {
    padding-left: $sidebar-w-sm;
  }

  @include breakpoint(large) {
    .mzp-l-content {
      padding: 0 4.166666666666667%;
    }
  }
  @include breakpoint(xlarge) {
    padding-left: $sidebar-w;

    .mzp-l-content {
      padding: 0 8.333333333333333%;
    }
  }
}
