/************************************************

Stylesheet: Full Width Page Stylesheet

*************************************************/

.site.full-width {
  background-color: $lighter-gray;
}

// Into Banner
// ------

.banner.intro {
  position: relative;
  background: transparent no-repeat center/cover;
  height: calc(100vh - #{rem-calc(120)});
  min-height: 120vw;
  max-height: 130vw;

  &#top {
    margin-top: rem-calc(-40);
  }

  @include breakpoint(medium) {
    padding-top: rem-calc(64);
    height: calc(100vh - #{rem-calc(88)});
    max-height: 66vw;
    min-height: rem-calc(360);
  }

  @include breakpoint(large) {
    height: calc(100vh - #{rem-calc(72)});
    max-height: 50vw;

    &#top {
      margin-top: rem-calc(-64);
    }
  }

  .graphic-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    > * {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent no-repeat center/contain;

      &.left {
        background: transparent no-repeat -15% 100%/45%;
      }

      &.right {
        background: transparent no-repeat 110% 100%/65%;
      }
    }
    @include breakpoint(medium only) {
      > .left {
        background: transparent no-repeat -20% 100%/40%;
      }

      > .right {
        background: transparent no-repeat 115% 100%/60%;
      }
    }
    @include breakpoint(small down) {
      > .left {
        background: transparent no-repeat -25% 100%/60%;
      }

      > .right {
        background: transparent no-repeat 115% 100%/80%;
      }
    }
  }

  .banner-content {
    position: relative;
    z-index: 2;
    height: 86%;

    .cell {
      > * {
        max-width: rem-calc(400);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .bottom-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: rem-calc(-28);
    z-index: 2;

    @include breakpoint(large) {
      bottom: rem-calc(-32);
    }
  }

  .search-cta {
    margin: rem-calc(0);
  }

  // First section following banner
  // ------

  + section > div:first-child {
    padding-top: rem-calc(64);

    @include breakpoint(medium) {
      padding-top: rem-calc(96);
    }
    @include breakpoint(large) {
      padding-top: rem-calc(124);
    }
  }
}

// Intro with dark background
// ------

.bg-dark {
  position: relative;
  color: $white;

  .grid-container {
    position: relative;
  }

  .cell:not(.tile):not(.tile-compact) a,
  .tiles-intro a {
    color: $white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      outline: 1px dotted currentcolor;
    }
  }

  .cell:not(.tile):not(.tile-compact) h1,
  .cell:not(.tile):not(.tile-compact) h2,
  .tiles-intro h1,
  .tiles-intro h2 {
    &::after {
      background-color: $white;
      background-image: none;
    }
  }

  .bg {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: calc(100% - #{rem-calc(240)});
    background-color: $primary-color;
    background-image: linear-gradient(47deg, #0090ed 0%, #b832e0 100%);
    @include breakpoint(medium) {
      height: calc(100% - #{rem-calc(120)});
    }

    &.alt {
      background-color: #ff9400;
      background-image: linear-gradient(
        47deg,
        #e31586 0%,
        #fc4054 51%,
        #ff9641 100%
      );
    }
  }
}

.panel-nested {
  padding-bottom: rem-calc(16);

  @include breakpoint(medium) {
    padding-bottom: rem-calc(32);
  }
  @include breakpoint(large) {
    padding-bottom: rem-calc(48);
  }
}

// Illustrated Tiles
// ------

.illustrated-tile {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  img {
    display: block;
    max-height: rem-calc(120);
    margin: 0 auto;
  }

  &:not(.tile-block-link) {
    a img {
      border-radius: $global-radius;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    a:hover img {
      box-shadow: $element-shadow-highlight;
      transform: scale(1.01);
    }
  }

  @include breakpoint(medium) {
    &:not(.tile-block-link) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;

      > * {
        flex: 0 0 auto;
        width: 100%;

        &:last-child {
          flex: 1 1 auto;
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }
    }

    &.tile-block-link {
      .block-link {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;

        > * {
          flex: 0 0 auto;
          width: 100%;

          &:last-child {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @include breakpoint(medium only) {
    &:not(.tile-block-link) {
      &:not(.medium-6):not(.no-img) {
        > * {
          max-width: 70%;

          &:first-child {
            position: absolute;
            top: rem-calc(12);
            right: rem-calc(12);
            max-width: 24%;
          }
        }
      }
    }

    &.tile-block-link {
      &:not(.medium-6):not(.no-img) .block-link {
        > * {
          max-width: 70%;

          &:first-child {
            position: absolute;
            top: rem-calc(12);
            right: rem-calc(12);
            max-width: 24%;
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    &:not(.tile-block-link) {
      &.medium-12:not(.no-img),
      &.medium-6:not(.no-img) {
        > * {
          max-width: 70%;

          &:first-child {
            position: absolute;
            top: rem-calc(12);
            right: rem-calc(12);
            max-width: 24%;
          }
        }
      }

      &.medium-12:not(.no-img) {
        > * {
          max-width: calc(100% - #{rem-calc(190)});

          &:first-child {
            max-width: rem-calc(160);
          }
        }
      }
    }

    &.tile-block-link {
      &.medium-12:not(.no-img) .block-link,
      &.medium-6:not(.no-img) .block-link {
        > * {
          max-width: 70%;

          &:first-child {
            position: absolute;
            top: rem-calc(12);
            right: rem-calc(12);
            max-width: 24%;
          }
        }
      }

      &.medium-12:not(.no-img) .block-link {
        > * {
          max-width: calc(100% - #{rem-calc(190)});

          &:first-child {
            max-width: rem-calc(160);
          }
        }
      }
    }
  }
}

.tile-compact {
  position: relative;
  z-index: 3;
  padding: rem-calc(20 26) !important;
  margin: rem-calc(8 0);
  color: $body-font-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: rem-calc(8);
    width: calc(100% - #{rem-calc(16)});
    top: 0;
    height: 100%;
    background-color: $white;
    border-radius: $global-radius;
    box-shadow: $element-shadow;
  }

  > * {
    position: relative;
    z-index: 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  &:not(.tile-block-link) > * {
    &:first-child {
      position: absolute;
      top: rem-calc(12);
      right: rem-calc(24);
      width: rem-calc(32);

      img {
        width: rem-calc(32);
      }

      + * {
        padding-right: rem-calc(40);
      }
    }
  }

  &.tile-block-link {
    padding: 0 !important;

    .block-link {
      padding: rem-calc(20 26) !important;

      > * {
        &:first-child {
          position: absolute;
          top: rem-calc(12);
          right: rem-calc(24);
          width: rem-calc(32);

          img {
            width: rem-calc(32);
          }

          + * {
            padding-right: rem-calc(40);
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .block-link-inline {
      color: $primary-color;
    }

    &:hover {
      color: $body-font-color;
      text-decoration: none;

      .block-link-inline {
        text-decoration: underline;
      }
    }
  }

  @include breakpoint(medium) {
    padding: rem-calc(24 34 30) !important;
    margin: rem-calc(12 0);

    &::before {
      left: rem-calc(12);
      width: calc(100% - #{rem-calc(24)});
    }

    &:not(.tile-block-link) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;

      > * {
        flex: 0 0 auto;
        align-items: flex-end;
        width: calc(100% - #{rem-calc(50)});
        margin-right: 0;
        margin-left: auto;

        &:first-child {
          width: rem-calc(32);
          top: rem-calc(24);
          left: rem-calc(34);
          right: auto;
        }

        &:last-child {
          flex: 1 1 auto;
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }
    }

    &.tile-block-link {
      padding: 0 !important;

      .block-link {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        padding: rem-calc(24 34 30) !important;

        > * {
          flex: 0 0 auto;
          align-items: flex-end;
          width: calc(100% - #{rem-calc(50)});
          margin-right: 0;
          margin-left: auto;

          &:first-child {
            top: rem-calc(24);
            left: rem-calc(34);
            right: auto;
          }

          &:last-child {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: flex-start;
            margin-bottom: 0;
          }
        }

        &.align-start p:last-child {
          justify-content: flex-start !important;
        }
      }
    }
  }

  @include breakpoint(large) {
    &.tile-block-link {
      &::before {
        will-change: transform;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }

      &:hover::before {
        box-shadow: $element-shadow-highlight;
        transform: scale(1.01);
      }
    }
  }
}

.tile-borderless {
  position: relative;
  z-index: 3;
  padding: rem-calc(20 30) !important;
  margin: rem-calc(10 0);
  color: $body-font-color;
  text-align: center;

  img {
    display: block;
    max-height: rem-calc(108);
    margin: 0 auto;
  }

  a img {
    border-radius: $global-radius;
    transition: box-shadow 0.2s ease-in-out;
  }

  a:hover img {
    box-shadow: $element-shadow-highlight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  @include breakpoint(medium) {
    padding: rem-calc(24 34 30) !important;
    margin: rem-calc(12 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;

    > * {
      flex: 0 0 auto;
      width: 100%;

      &:last-child {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        margin-bottom: 0;
      }
    }

    &.medium-6 {
      img {
        max-height: rem-calc(134);
      }
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.tile-extended {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  > p a {
    @include button();

    font-size: 0.733333333333333rem;
    padding: rem-calc(8);

    &:hover {
      text-decoration: none;
    }
  }

  .secondary-actions {
    font-size: $small-font-size;

    a {
      display: block;
      padding-top: rem-calc(8);
    }
  }
}

// .tiles-intro: Short text area that intros a set of tiles
// .tiles-footer: Links following a set of tiles
// ------

.tiles-intro,
.tiles-footer {
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(16);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @include breakpoint(medium) {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);
  }
}

// Mobile slideshow tiles
// ------

.slick-dots {
  position: relative;
  z-index: 3;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: rem-calc(10 0);
  height: rem-calc(8);

  > * {
    flex: 0 0 #{rem-calc(20)};
    width: rem-calc(20);
    height: rem-calc(8);
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    button {
      flex: 0 0 #{rem-calc(8)};
      width: rem-calc(8);
      height: rem-calc(8);
      font-size: 0;
      border-radius: 50%;
      text-align: center;
      background-color: #99b8dc;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.3);
      }
    }

    &.slick-active button {
      background-color: $primary-color;
      pointer-events: none;
    }
  }
}

.mobile-slider,
.news-slider {
  @include breakpoint(medium down) {
    padding: rem-calc(0 0 1);
    margin-bottom: rem-calc(40);

    .grid-container {
      padding: rem-calc(0 0 1);
      margin-bottom: rem-calc(-40);
    }

    .slick-list {
      position: relative;
      z-index: 2;
    }

    .slick-track {
      display: flex;
      align-items: stretch;
    }

    .slick-slide {
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      height: auto;
      padding: rem-calc(20 28) !important;
      margin: rem-calc(16 0 20 0);

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: rem-calc(8);
        width: calc(100% - #{rem-calc(16)});
      }

      > * {
        flex: 0 0 auto;
        width: 100%;

        &:last-child {
          flex: 1 1 auto;
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }
    }
  }
}

// Section cta
// ------

.section-cta {
  position: relative;
  background: #592acb no-repeat center/cover;

  .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-size: auto 100%;
    @include breakpoint(small down) {
      background-size: auto 32vw;
    }
  }

  .grid-container {
    position: relative;
    min-height: 48vw;
    padding-top: rem-calc(45);
    padding-bottom: 24vw;
    @include breakpoint(medium) {
      min-height: 24vw;
      padding-bottom: rem-calc(45);
    }
  }

  .cell {
    > *:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(medium) {
      max-width: rem-calc(360);
    }
  }

  &.bg-dark {
    color: $white;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
        outline: 1px dotted currentcolor;
      }
    }

    h1,
    h2 {
      &::after {
        background-color: $white;
        background-image: none;
      }
    }
  }
}

// Inline resource list
// ------

.resources-inline-list {
  @include breakpoint(medium) {
    p {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  @include breakpoint(small down) {
    p a {
      display: block;
      padding-top: rem-calc(6);
    }
  }
}

// Interative Anatomy Illustration
// ------

.anatomy-container {
  .anatomy-illustration {
    text-align: center;

    #anatomy-of-an-extension-graphic {
      display: none;
    }
  }

  .anatomy-description {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    #anatomy-of-an-extension-graphic-mobile {
      display: none;
    }

    button {
      position: relative;
      display: block;
      padding: rem-calc(16 8 16 8);
      text-align: left;
      color: $primary-color;
      cursor: pointer;

      &::after {
        display: inline-block;
        margin-left: 0.3em;
        font-size: 0.8em;
        transition: margin 0.2s ease-in-out;
        @include icon_font($char: $icon-arrow-right);
      }

      &:hover {
        text-decoration: underline;

        &::after {
          margin-left: 0.5em;
          margin-right: -0.2em;
        }
      }

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .manifest {
    margin-top: rem-calc(-48);
    text-align: center;

    img {
      display: inline-block;
      margin-right: 0.3em;
    }
  }

  @include breakpoint(medium) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;

    .anatomy-illustration {
      flex: 0 0 70%;

      #anatomy-of-an-extension-graphic {
        display: block;
        margin: #{rem-calc(32)} auto 0;
        max-width: 100%;

        .tile {
          cursor: pointer;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

          &.hover {
            transform: translate(#{rem-calc(8)}, 0);
          }
        }

        + .manifest {
          transition: opacity 0.3s ease-in-out;
        }

        &:not(.step-two) {
          #background {
            transform: translateY(#{rem-calc(-30)});
            opacity: 0;
          }

          #content {
            opacity: 0;
          }

          #interface {
            transform: translateY(#{rem-calc(30)});
            opacity: 0;
          }

          + .manifest {
            opacity: 0;
          }
        }
      }
    }

    .anatomy-description {
      flex: 0 0 30%;

      button {
        margin: rem-calc(15 0);
      }
    }

    #anatomy-control {
      button {
        transition: opacity 0.3s 0.15s ease-in-out, transform 0.3s ease-in-out;
      }

      &:not(.step-two) {
        button {
          opacity: 0;

          &:first-of-type {
            transform: translateY(#{rem-calc(30)});
          }

          &:last-of-type {
            transform: translateY(#{rem-calc(-30)});
          }
        }
      }
    }
  }

  @include breakpoint(small down) {
    margin-top: -12vw;

    .anatomy-description {
      height: calc(157.037037037037vw - 24px);
      padding: 36.5% 0;
      margin: rem-calc(16 0 8);
      align-items: center;
      justify-content: space-between;

      #anatomy-of-an-extension-graphic-mobile {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      button {
        font-size: $small-font-size;
        margin: rem-calc(0 0 -20);
      }
    }

    .manifest {
      margin-top: -20vw;
    }
  }
}

// Events
// ------

#events {
  margin-bottom: -1px;
  overflow: hidden;
}

// News
// ------

#news {
  position: relative;
  padding-bottom: 22.34375vw;
  @include breakpoint(medium) {
    padding-bottom: 14.89583333333335vw;
  }
}

.bottom-of-page {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: -10vw;
  width: 100%;
  height: 47.5vw;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
  background-size: auto 100%, auto 100%;
  @include breakpoint(medium) {
    bottom: rem-calc(-82.5);
    height: rem-calc(330);
  }
  @include breakpoint(large) {
    bottom: rem-calc(-110);
    height: rem-calc(440);
  }
}

// RSS Feed
// ------

#rss-feed-source {
  display: none;
}

.meta-date {
  font-size: rem-calc(13);
  color: $dark-gray;
}

// 404 page
// ------

.page-404 {
  .tiles-intro {
    min-height: 50vh;
  }
}
