/************************************************

Stylesheet: Main Stylesheet

*************************************************/

// SLICK SLIDESHOW
// ------

@import 'slick';

// TYPOGRAPHY
// -------------------------------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $header-margin-bottom;

  &:not(:first-child) {
    margin-top: 1.3333em;
    @include breakpoint(medium) {
      margin-top: 1.6666em;
    }
  }
}

h1,
h2 {
  &:not(.no-underline)::after {
    content: '';
    display: block;
    width: rem-calc(40);
    height: rem-calc(2);
    margin-top: 1.5rem;
    background-color: $primary-color;
    background-image: linear-gradient(
      90deg,
      #0099f1 0%,
      #9059ff 9%,
      #b833e1 35%,
      #e31587 52%,
      #fc4055 70%,
      #ff9640 92%,
      #fff36e 100%
    );
  }

  + h5:not(:first-child),
  + h6:not(:first-child) {
    margin-top: -0.6em;
  }
}

li {
  margin-bottom: $list-margin-bottom / 3;
}

a:not(.button) {
  &:hover {
    text-decoration: underline;
    color: $primary-color;

    &::before,
    &::after {
      text-decoration: none;
    }
  }
}

small {
  color: $dark-gray;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Button
// ------

.button {
  min-width: rem-calc(132);

  &.large {
    padding: 0.95em 1.15em;
  }
}

.site-footer .mzp-c-footer-legal ul > li > a:focus,
a:focus {
  outline: none;
  text-decoration: underline;
}

#page-nav-links a:focus {
  text-decoration: none;
  color: #0060df;
}

.mzp-c-footer-links-social a:focus,
.mzp-c-footer-primary-logo a:focus,
.logo a:focus {
  text-decoration: none;
  outline: 1px dotted currentcolor;
}

.tile-borderless a:focus img,
.tile-extended > p a:focus,
a.button:focus,
a.cta-down:focus,
button.video-play:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #0a84ff, 0 0 0 1px #0a84ff,
    0 0 0 4px rgba(10, 132, 255, 0.3);
}

a.tile-block-link:focus {
  text-decoration: none;
  box-shadow: none;

  &::before {
    box-shadow: inset 0 0 0 1px #0a84ff, 0 0 0 1px #0a84ff,
      0 0 0 4px rgba(10, 132, 255, 0.3);
  }
}

// Bgs
// ------

.bg-grey {
  background-color: $lighter-gray;
}

// Element Shadows
// ------

$element-shadow: #{rem-calc(0 4 16 0)} rgba(12, 12, 13, 0.1);

// Lead Text
// ------

.lead {
  font-size: $lead-font-size;
}

// Centered Text
// ------

.text-center {
  text-align: center;

  h1,
  h2 {
    &::after {
      display: none;
    }
  }
}

// Blockquote
// ------

blockquote {
  p {
    margin-bottom: 0;
  }
}

// Horizontal List
// ------

.horizontal-list {
  @include horizontal_list();
}

// Down Arrow
// ------

.cta-down::after {
  @include icon_font($char: $icon-arrow-down);

  display: inline-block;
  margin: 0.5rem auto;
  font-size: rem-calc(20);
}

// Anchor Links
// ------

a[title='View on Github'] {
  &::before {
    @include icon_font($char: $icon-github);

    display: inline-block;
    font-size: rem-calc(24);
    margin-right: 0.6rem;
    vertical-align: middle;
  }

  &::after {
    display: none !important;
  }

  &:hover {
    &::before {
      text-decoration: none;
    }
  }
}

// IMAGES, VIDEOS & GALLERIES
// -------------------------------------------------------------------------------------------------------------------

.img {
  position: relative;
  display: block;
  background: transparent no-repeat center/cover;
}

.image-block {
  border-radius: $global-radius;
  margin: rem-calc(16 0);
  @include breakpoint(medium) {
    &:first-child {
      margin-top: 0;
    }
  }
}

// FORM STYLES
// -------------------------------------------------------------------------------------------------------------------

.newsletter_errors {
  display: none;
}

.newsletter_thanks {
  display: none;
}

.form_group-agree {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  input[type='checkbox'] {
    flex: 0 0 auto;
    margin: rem-calc(3 3 0 0);
  }

  label {
    flex: 1 1 auto;
    color: $white;
    font-size: $small-font-size;

    a {
      text-decoration: underline;
    }
  }
}

#newsletter_form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: rem-calc(460);

  > * {
    flex: 1 1 100%;

    &#newsletter_email {
      flex: 0 0 calc(100% - #{rem-calc(142)});
    }

    &#newsletter_privacy {
      order: 2;
    }

    &#newsletter_submit {
      flex: 0 0 #{rem-calc(132)};

      button {
        margin: 0;
      }
    }
  }
}

// FRAMEWORK
// -------------------------------------------------------------------------------------------------------------------

// Header
// -- Conteng Guidelines pages have .site-wrapper element containing .site-header and .site-content
// ------

$header_h_sm: rem-calc(40);
$header_h_lg: rem-calc(64);

html {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.content-guidelines .site-wrapper,
  &.full-width .site-content,
  &.side-bar .site-content {
    flex: 1 0 auto;
    width: 100%;
  }

  &.full-width .site-header,
  &.side-bar .site-header {
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: rem-calc(6 0);
    background: $white;
    box-shadow: $element-shadow;
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out,
      height 0.4s ease-in-out;

    .button.show-for-large {
      margin-bottom: 0;
    }

    .search-input-open {
      font-size: 0;
      cursor: pointer;

      &::before {
        @include icon_font($char: $icon-search);

        font-size: rem-calc(20);
      }

      &:hover {
        color: $primary-color;
      }
    }

    @include breakpoint(large) {
      padding: rem-calc(12 0);

      .cell {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        transition: margin 0.4s ease-in-out;
      }

      .button.show-for-large {
        flex: 0 0 auto;
        padding: 0.85em 1.15em;
      }
      .search-input-open {
        flex: 0 0 auto;
        margin-right: 1.2rem;
      }
    }

    @include breakpoint(medium down) {
      height: rem-calc(40);
      overflow: hidden;

      .search-input-open {
        position: absolute;
        top: rem-calc(6);
        right: rem-calc(56);
        padding: rem-calc(6 16 6 6);
        transition: opacity 0.3s ease-in-out;

        &::before {
          font-size: rem-calc(16);
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: rem-calc(1);
          height: 100%;
          background-color: $medium-light-gray;
        }
      }
    }
  }

  &.full-width,
  &.side-bar {
    .site-content {
      padding-top: rem-calc(40);

      @include breakpoint(large) {
        padding-top: rem-calc(64);
      }
    }
  }

  &.nav-open {
    @include breakpoint(medium down) {
      overflow: hidden;

      &.full-width .site-header,
      &.side-bar .site-header {
        height: 100vh;
      }

      .logo a {
        color: $white;
      }
      .search-input-open {
        opacity: 0;
      }
    }
  }

  &:not(.nav-open) {
    &.full-width .site-header,
    &.side-bar .site-header {
      &.minimize {
        transform: translateY(#{-$header_h_lg});
        box-shadow: $element-shadow;
      }
    }
  }
}

.site-header,
.site-footer {
  flex: none;
}

// Grid Container
// ------

.grid-container {
  @include breakpoint(xlarge) {
    max-width: 84%;
  }
  @include breakpoint(xxlarge) {
    max-width: $global-width;
  }
}

.site.full-width,
.site.side-bar {
  .site-content,
  .site-footer {
    .grid-container {
      @include breakpoint(large only) {
        max-width: 84%;
      }
    }
  }
}

// Logo
// ------

.logo {
  position: relative;
  margin: 0 1rem 0 0;
  font-size: $small-font-size;
  line-height: 1.15;
  font-weight: $global-weight-bold;

  a {
    position: relative;
    display: block;
    padding: rem-calc(6 0 6 32);
    color: $body-font-color;
    transition: color 0.3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: rem-calc(25);
      height: rem-calc(25);
      background: transparent asset_url('firefox-logo.png @optim') no-repeat
        center/contain;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  @include breakpoint(large) {
    flex: 0 0 auto;

    a {
      max-width: rem-calc(136);
      padding: rem-calc(4 0 4 45);

      &::before {
        width: rem-calc(38);
        height: rem-calc(38);
      }
    }
  }
}

// Search input box

.search-input {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: rem-calc(16);
  padding-right: rem-calc(12);
  background: $white;
  flex-flow: row nowrap;
  justify-content: stretch;

  &::before {
    @include icon_font($char: $icon-search);
    font-size: rem-calc(20);
    text-align: center;
    line-height: rem-calc(40);
    width: rem-calc(20);
    flex: 0 0 #{rem-calc(20)};
    color: $medium-light-gray;
  }

  @include breakpoint(large) {
    padding-left: rem-calc(12);
    padding-right: rem-calc(8);
  }
}

.search-interface {
  flex: 1 1 auto;
  margin: rem-calc(6 8 6 12);
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;

  .label-text {
    display: none;
  }

  .field {
    flex: 1 1 auto;
  }

  button {
    flex: 0 0 0;
    font-size: 0;
  }

  @include breakpoint(large) {
    margin: rem-calc(0 12 0 16);
  }
}

#search-input {
  border: 0;
  margin: 0;
  width: 100%;
  height: rem-calc(28);
  font-size: rem-calc(16);

  &::placeholder {
    font-weight: $global-weight-bold;
  }

  @include breakpoint(large) {
    height: rem-calc(40);
  }
}

.search-input-close {
  flex: 0 0 #{rem-calc(28)};
  font-size: rem-calc(28);
  cursor: pointer;

  &::before {
    @include icon_font($char: $icon-close);
  }

  &:hover {
    color: $primary-color;
  }
}

// Search CTA box

.search-cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  margin: rem-calc(32 0);
  padding: rem-calc(8);
  background: $white;
  box-shadow: #{rem-calc(0 6 22 0)} rgba(16, 16, 18, 0.2); // $element-shadow;
  border-radius: rem-calc(6);

  &:first-child {
    margin-top: 0;
  }

  &::before {
    @include icon_font($char: $icon-search);
    font-size: rem-calc(20);
    text-align: right;
    line-height: rem-calc(40);
    width: rem-calc(30);
    flex: 0 0 #{rem-calc(30)};
    color: $primary-color;
  }

  @include breakpoint(large) {
    margin: rem-calc(38 0);
    padding: rem-calc(12);

    &:first-child {
      margin: rem-calc(-16 0 48);
    }
  }
}

#result-list ol {
  list-style: none;
  margin: 0;

  li {
    padding: rem-calc(30 0);

    &:first-child {
      border-top: 1px solid $medium-light-gray;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $medium-light-gray;
    }
  }

  a {
    &:hover {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 1em;
    color: $black;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small {
    font-size: rem-calc(12);
  }
}

// Hamburger Icon
// ------
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: rem-calc(14);
$hamburger-layer-height: rem-calc(2);
$hamburger-layer-spacing: rem-calc(3);
$hamburger-layer-color: $black;
$hamburger-layer-border-radius: rem-calc(1);
$hamburger-hover-opacity: 1;
$hamburger-hover-transition-duration: 0.15s;
$hamburger-hover-transition-timing-function: linear;

@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.site-header .hamburger {
  position: absolute;
  top: rem-calc(9);
  right: rem-calc(16);
  padding: rem-calc(0 5);
  transition: transform 0.3s ease-in-out;

  &.is-active {
    transform: scale(1.2);
  }
}

// Top Nav
// ------

.topNav {
  font-size: $small-font-size;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }

  @include breakpoint(large) {
    flex: 1 1 auto;
    margin-right: 1.2rem;

    .level-one {
      @include horizontal_list($margin: 1.2rem);

      > li {
        padding: rem-calc(9 0);

        &.is-active {
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: rem-calc(4);
            width: 100%;
            height: rem-calc(2);
            background-color: $primary-color;
            background-image: linear-gradient(
              90deg,
              #0099f1 0%,
              #9059ff 9%,
              #b833e1 35%,
              #e31587 52%,
              #fc4055 70%,
              #ff9640 92%,
              #fff36e 100%
            );
          }
        }
      }
    }

    .level-two {
      pointer-events: none;
      opacity: 0;
      transform: translateY(1em);
      position: absolute;
      left: 0;
      top: 100%;
      width: rem-calc(136);
      padding: rem-calc(10 0);
      background: $white;
      box-shadow: $element-shadow;
      border-radius: $global-radius;
      transition: box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

      li {
        padding: rem-calc(6 16);

        &.is-active {
          background-color: #e5effb;

          a {
            color: $primary-color;
          }
        }
      }
    }

    .has-children {
      position: relative;

      &:hover .level-two {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
      }

      > a::after {
        @include icon_font($char: $icon-arrow-down);

        display: inline-block;
        margin-left: 0.5em;
        transform: translateY(#{rem-calc(2)});
      }
    }
  }
  @include breakpoint(medium down) {
    display: none;
    position: absolute;
    top: rem-calc(40);
    left: 0;
    width: 100%;
    height: calc(100% - #{rem-calc(40)});
    flex-flow: column nowrap;

    .level-one li {
      padding: rem-calc(12 16);

      &.has-children {
        padding: rem-calc(0 16);

        > a {
          display: none;
        }
      }
    }

    .level-two li {
      padding: rem-calc(12 0);
    }

    .level-one {
      flex: 1 1 auto;
    }

    .button {
      flex: 0 0 auto;
      margin: rem-calc(16);
    }
  }
}

// COMPONENT STYLES
// -------------------------------------------------------------------------------------------------------------------

// Transition Elements
// ------

.showOnView {
  opacity: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
} // box shadow hack to remove redraw pixels

// Panel
// -------

.panel {
  position: relative;
  padding-top: rem-calc(32);
  padding-bottom: rem-calc(24);
  @include breakpoint(medium) {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
  }

  .grid-container {
    position: relative;
  }
}

.panel-outside {
  position: relative;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  @include breakpoint(medium) {
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(60);
  }

  .grid-container {
    position: relative;
  }
}

.panel-intro {
  position: relative;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(20);
  @include breakpoint(medium) {
    padding-top: rem-calc(60);
    padding-bottom: 0;
  }

  .grid-container {
    position: relative;
  }
}

// Popup Panel
// ------

.popup-panel {
  display: none;
  max-width: rem-calc(460);
  position: fixed;
  z-index: 9;
  padding: rem-calc(20 38) !important;
  margin: rem-calc(8 0);
  color: $body-font-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: rem-calc(12);
    width: calc(100% - #{rem-calc(24)});
    top: 0;
    height: 100%;
    background-color: $white;
    border-radius: $global-radius;
    box-shadow: $element-shadow;
  }

  > * {
    position: relative;
    z-index: 2;

    &:first-child {
      display: none;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:last-child {
      position: absolute;
      top: rem-calc(12);
      right: rem-calc(20);

      button {
        color: $medium-gray;
        font-size: rem-calc(24);
        cursor: pointer;

        &::before {
          @include icon_font($char: $icon-close);
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  @include breakpoint(medium) {
    padding: rem-calc(24 34 30) !important;
    margin: rem-calc(12 0);

    > *:not(:last-child) {
      width: calc(100% - #{rem-calc(50)});
      margin-right: 0;
      margin-left: auto;

      &:first-child {
        display: block;
        position: absolute;
        width: rem-calc(32);
        top: rem-calc(24);
        left: rem-calc(34);

        img {
          width: rem-calc(32);
        }
      }
    }
  }
}

// Tiles
// ------

.tile {
  position: relative;
  padding: rem-calc(12) !important;
  margin: rem-calc(8 0);
  @include breakpoint(medium) {
    padding: rem-calc(24) !important;
    margin: rem-calc(12 0);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: rem-calc(0);
    width: 100%;
    top: 0;
    height: 100%;
    background-color: $white;
    border-radius: $global-radius;
    box-shadow: $element-shadow;
  }

  > * {
    position: relative;
    z-index: 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & + p,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + ol,
  & + ul {
    margin-top: 1.5em;
  }
}

// Video Box
// ------

#stdVideo {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 11;
  overflow: hidden;
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.85);
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flex-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.playing {
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }
}

#stdVideo-close {
  z-index: 3;
  position: absolute;
  top: rem-calc(-42);
  right: rem-calc(15);
  font-size: rem-calc(22);
  color: $white;
  width: rem-calc(32);
  height: rem-calc(32);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: transform 0.15s ease-in-out, opacity 0.3s ease-in-out;

  &::before {
    @include icon_font($char: $icon-close);

    display: block;
    line-height: rem-calc(32);
  }

  &:hover {
    transform: scale(1.1);
  }
  @include breakpoint(large) {
    top: rem-calc(-63);
    right: 0;
    font-size: rem-calc(36);
    width: rem-calc(48);
    height: rem-calc(48);

    &::before {
      line-height: rem-calc(48);
    }
  }
}

.loading #stdVideo-close {
  opacity: 0;
}

.video-box {
  position: relative;

  .h1 {
    @include breakpoint(small down) {
      text-align: center;
      font-size: rem-calc(15);
      margin-top: rem-calc(24);
    }
  }

  .video-play {
    display: block;
    position: relative;
    overflow: hidden;
    width: rem-calc(48);
    height: rem-calc(48);
    margin: 1em 0;
    text-align: center;
    line-height: rem-calc(48);
    font-size: rem-calc(26);
    color: $primary-color;
    background-color: $white;
    border-radius: 50%;
    box-shadow: #{rem-calc(0 2 8)} rgba(12, 12, 13, 0.1);
    cursor: pointer;
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
      transform 0.2s ease-in-out;

    &::before {
      @include icon_font($char: $icon-play);
    }

    &:hover {
      color: $primary-color-hover;
      box-shadow: #{rem-calc(0 2 8)} rgba(12, 12, 13, 0.33);
    }

    &.loading {
      background-color: $primary-color;
      color: $white;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent asset_url('ajax-loader.svg @optim') no-repeat
          center/86%;
      }
    }
  }

  .img {
    position: relative;
    z-index: 1;
    height: 0;
    padding-bottom: 56.25%;
    margin: rem-calc(20 0 10);
    box-shadow: $element-shadow;
    border-radius: $global-radius;
    overflow: hidden;

    .video-play {
      position: absolute;
      top: calc(50% - #{rem-calc(16)});
      left: calc(50% - #{rem-calc(16)});
      width: rem-calc(32);
      height: rem-calc(32);
      line-height: rem-calc(32);
      font-size: rem-calc(16);
      margin: 0;
      @include breakpoint(medium) {
        display: none;
      }
    }

    .video-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.loading {
      @include breakpoint(small down) {
        .video-play {
          background-color: $primary-color;
          color: $white;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent asset_url('ajax-loader.svg @optim')
              no-repeat center/86%;
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    margin: rem-calc(16 0);

    .video-cta {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 70%;
      height: 100%;
      padding: 10%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      transition: opacity 0.3s ease-in-out;

      &.playing {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

#video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .grid-container {
    height: 100%;
    position: relative;
    z-index: 3;
    pointer-events: none;

    .cell {
      pointer-events: auto;
      position: relative;
    }
  }

  #stdVideo {
    position: relative;
    height: 0;
    padding: 0;
    background: $white;
    transition: left 0.3s ease-in-out, top 0.3s ease-in-out,
      width 0.3s ease-in-out, height 0.3s ease-in-out, padding 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &.playing {
      opacity: 1;
      height: auto;
      padding-bottom: 56.25%;
    }
  }

  &.loading {
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      left: calc(50% - #{rem-calc(32)});
      top: calc(50% - #{rem-calc(32)});
      width: rem-calc(64);
      height: rem-calc(64);
      background: transparent asset_url('ajax-loader.svg @optim') no-repeat
        center/100%;
    }
  }
}

// Moz Footer
// ------

.site-footer {
  background-color: $black;
  color: $white;
  @include breakpoint(medium down) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  h4 {
    @include breakpoint(medium down) {
      margin-top: 1.5em;
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .mzp-c-footer-links-social {
    @include horizontal_list($margin: 0.6666em);

    a {
      font-size: 0;

      &::before {
        display: inline-block;
        font-size: rem-calc(20);
        vertical-align: middle;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .twitter::before {
      @include icon_font($char: $icon-twitter);
    }

    .instagram::before {
      @include icon_font($char: $icon-instagram);
    }

    .youtube::before {
      @include icon_font($char: $icon-youtube);
    }
  }

  .mzp-c-footer-legal ul {
    @include horizontal_list($margin: 1em);

    margin-bottom: 1em;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mzp-c-footer-primary-logo {
    margin-bottom: rem-calc(16);
    padding-right: rem-calc(24);

    a {
      display: inline-block;
      width: 100px;
      height: 28px;
      overflow: hidden;
      text-decoration: none;
      text-indent: 120%;
      white-space: nowrap;
      background: #fff asset_url('moz-logo.svg @optim') no-repeat 0 0 /#{rem-calc(
          100
        )};
      color: $white;
    }
  }

  .mzp-c-footer-secondary {
    font-size: $small-font-size;
    line-height: 1.333;
    padding-top: rem-calc(40);
    @include breakpoint(large) {
      padding-top: rem-calc(60);
    }
  }

  .mzp-c-language-switcher {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 1rem;
    align-items: center;

    label {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      margin: -1px;
    }

    .mzp-c-cta-link {
      flex: 0 0 auto;
      margin-right: rem-calc(24);
      font-weight: $global-weight-bold;
    }

    select {
      flex: 0 0 auto;
      width: auto;
      margin-bottom: 0;
    }
  }
}
