<section class="module do-this-not-this">
<article class="module-content grid-x grid-padding-x">
<div class="cell small-12 medium-6">
<div class="do-this" markdown="1">
<header>
<h6>{{ do_this_title }}</h6>
</header>

{{ include.do_this_content }}

</div>
</div>
<div class="cell small-12 medium-6">
<div class="not-this" markdown="1">
<header>
<h6>{{ not_this_title }}</h6>
</header>

{{ not_this_content }}

</div>
</div>
</article>
</section>
