<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site">

    {%- include header.html -%}

    <main class="site-content" aria-label="Content">
      
        {{ content }}
      
    </main>

    {%- include footer.html -%}

    <aside id="video-popup">
        <div class="bg"></div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle">
            <div class="cell small-12 large-10"></div>
        </div>
    </aside>

    <!-- <script type="text/javascript" src="{{ "/assets/scripts/rssfeed.pkg.js?ver=2018.11.22b" | relative_url }}"></script> -->
    <script type="text/javascript" src="{{ "/assets/slick/slick.min.js?ver=2018.11.22b" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/scripts/scripts.min.js?ver=2018.11.22b" | relative_url }}"></script>
    <script src="{{ "/assets/scripts/basket-client.js" | relative_url }}"></script>
  </body>

</html>
