<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site">
    <div class="site-wrapper">
        {%- include header.html -%}

        <main class="site-content" aria-label="Content">
          
            {{ content }}
          
        </main>
    </div>

    {%- include footer.html -%}

    <aside id="video-popup">
        <div class="bg"></div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle">
            <div class="cell small-12 large-10">
                <button id="stdVideo-close"></button>
            </div>
        </div>
    </aside>

    <script type="text/javascript" src="{{ "/assets/scripts/scripts.min.js?ver=2018.11.23" | relative_url }}"></script>
  </body>

</html>