<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site">
    <div class="site-wrapper">
        {%- include header.html -%}

        <main class="site-content" aria-label="Content">
          
            {{ content }}
            
            <nav class="page-bottom-nav">
                <div class="grid-container grid-x grid-padding-x">
                    <div class="cell small-12">
                        <ul>
                            {% for item in site.data.content-guidelines-pages %}
                                {% if item.url == page.url %}

                                    {% if forloop.first %}
                                        {% assign last = site.data.content-guidelines-pages.last %}
                                        <li><a href="{{ last.url }}">{{ last.title }}</a></li>
                                    {% else %}
                                        <li><a href="{{ prev.url }}">{{ prev.title }}</a></li>
                                    {% endif %}

                                    {% if forloop.last %}
                                        {% assign first = site.data.content-guidelines-pages.first %}
                                        <li><a href="{{ first.url }}">{{ first.title }}</a></li>
                                    {% else %}
                                        {% assign next = site.data.content-guidelines-pages[forloop.index] %}
                                        <li><a href="{{ next.url }}">{{ next.title }}</a></li>
                                    {% endif %}

                                {% endif %}
                                {% assign prev = item %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>

        </main>
    </div>

    {%- include footer.html -%}

    <aside id="video-popup">
        <div class="bg"></div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle">
            <div class="cell small-12 large-10">
                <button id="stdVideo-close"></button>
            </div>
        </div>
    </aside>

    <script type="text/javascript" src="{{ "/assets/scripts/scripts.min.js?ver=2018.11.23" | relative_url }}"></script>
  </body>

</html>