<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site full-width">

    {%- include header.html -%}

    <main class="site-content" aria-label="Content">

        {{ content }}

    </main>

    {%- include connect.html -%}

    {%- include footer.html -%}

    <aside id="video-popup">
        <div class="bg"></div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle">
            <div class="cell small-12 large-10">
                <button id="stdVideo-close"></button>
            </div>
        </div>
    </aside>

    {% asset "bundle.js" !type %}
    {% asset "basket-client.js" !type %}
  </body>
</html>
