---
layout: landing
---

<div class="home">

    <header id="top" class="banner intro">
        <div class="graphic-bg">
            <div class="parallaxFG-left left" style="background-image: url({% asset "header-a.svg" @path @optim %});"></div>
            <div class="parallaxFG-right right" style="background-image: url({% asset "header-b.svg" @path @optim %});"></div>
        </div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle banner-content">
            <div class="cell small-12 medium-6 text-center">
                {{ content }}
                <a href="#about" class="cta-down show-for-medium"></a>
            </div>
        </div>

        <div class="page-nav-container">
            <div class="page-nav">
                <div class="grid-container grid-x grid-padding-x">
                    <div class="cell small-12">
                        <nav>
                            <h6 class="jump-link">Jump to...</h6>
                            <div class="group-a" id="page-nav-links">
                                <a href="#about">About Extensions</a>
                                <a href="#build">Build Extensions</a>
                                <a href="#tips">Tips for Better Extensions</a>
                                <a href="#connect">Connect</a>
                                <a href="#news">Developer News</a>
                            </div>
                            <div class="group-b">
                                <a class="button" href="https://addons.mozilla.org/developers/addons">Submit/Manage Extension</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% for section in site.data.home-sections %}

        <section id="{{ section.id }}">
            {% capture section_description %}{% include home/{{ section.description }} %}{% endcapture %}
            {{ section_description | markdownify }}
        </section>

    {% endfor %}

    <section id="news" class="panel bg-grey">
        <div class="grid-container grid-x grid-padding-x align-center tiles-outside">
            <div class="cell small-12 medium-8 large-6 text-center">
                <h2>Latest Developer News</h2>
            </div>
        </div>

        <div class="tiles-container news-slider">
            <div id="rss-feed" class="grid-container grid-x grid-padding-x align-center"></div>
        </div>

        <div class="grid-container grid-x grid-padding-x align-center tiles-outside">
            <div class="cell small-12 medium-8 large-6 text-center">
                <p><a href="https://blog.mozilla.org/addons/">Visit add-ons blog</a></p>
            </div>
        </div>
    </section>

    <aside class="panel social">
        <div class="grid-container grid-x grid-padding-x">
            <div class="cell small-12">
                <h2>Connect With Us</h2>
            </div>
            <div class="cell small-12 large-3">
                <h4>Twitter</h4>
                <p>For developers:
                    <br /><a href="https://twitter.com/mozamo" class="twitter">@mozamo</a></p>
                <p>For end users:
                    <br /><a href="https://twitter.com/rockyourfirefox" class="twitter">@rockyourfirefox</a></p>
            </div>
            <div class="cell small-12 large-4">
                <h4>More</h4>
                <p><a href="https://telegram.org" class="telegram">t.co/firefox</a></p>
                <p><a href="https://wiki.mozilla.org/IRC" class="irc">IRC</a></p>
                <p><a href="https://mail.mozilla.org/listinfo/dev-addons" class="mailinglist">Add-on Developers Mailing List</a></p>
            </div>
            <div class="cell small-12 large-4">
                <h4>Extensions Developer Newsletter</h4>
                <p>Stay up-to-date on news and events for Firefox extension developers.</p>

                <div class="newsletter" id="newsletter_wrap">
                    <form id="newsletter_form" name="newsletter_form" action="https://www.mozilla.org/en-US/newsletter/" method="post" data-no-csrf>
                        <input type="hidden" id="fmt" name="fmt" value="H">
                        <input type="hidden" id="newsletters" name="newsletters" value="about-addons">

                        <div id="newsletter_errors" class="newsletter_errors"></div>

                        <div id="newsletter_email" class="form_group">
                            <label for="email" class="visually-hidden">Email Address</label>
                            <input type="email" id="email" name="email" class="form_input" required placeholder="Email Address" size="30">
                        </div>

                        <div id="newsletter_privacy" class="form_group form_group-agree">
                            <input type="checkbox" id="privacy" name="privacy" required>
                            <label for="privacy">I’m okay with Mozilla handling my info as explained in this <a href="https://www.mozilla.org/privacy/websites/">Privacy Notice</a>.</label>
                        </div>
                        <div id="newsletter_submit">
                            <button type="submit" class="button btn btn-success">Sign up</button>
                        </div>
                    </form>
                    <div id="newsletter_thanks" class="newsletter_thanks">
                        <h6>Thanks! Please check your inbox to confirm your subscription.</h6>
                        <p>If you haven’t previously confirmed a subscription to a Mozilla-related newsletter you may have to do so. Please check your inbox or your spam filter for an email from us.</p>
                    </div>
                </div>

            </div>
        </div>
    </aside>

</div>
