---
layout: full-width
---

<div class="home">

    <header id="top" class="banner intro">
        <div class="graphic-bg">
            <div class="parallaxFG-left left" style="background-image: url({% asset "header-v2-a.svg" @path @optim %});"></div>
            <div class="parallaxFG-right right" style="background-image: url({% asset "header-v2-b.svg" @path @optim %});"></div>
        </div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle banner-content">
            <div class="cell small-12 text-center">
                {{ content }}
            </div>
        </div>

        {% comment %}
        <div class="page-nav-container">
            <div class="page-nav">
                <div class="grid-container grid-x grid-padding-x">
                    <div class="cell small-12">
                        <nav>
                            <h6 class="jump-link">Jump to...</h6>
                            <div class="group-a" id="page-nav-links">
                                <a href="#about">About Extensions</a>
                                <a href="#build">Build Extensions</a>
                                <a href="#connect">Connect</a>
                                <a href="#news">Developer News</a>
                            </div>
                            <div class="group-b">
                                <a class="button" href="https://addons.mozilla.org/developers/addons">Register or Log in</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        
    </header>

    {% for section in site.data.home-sections %}

        <section id="{{ section.id }}">
            {% capture section_description %}{% include home/{{ section.description }} %}{% endcapture %}
            {{ section_description | markdownify }}
        </section>

    {% endfor %}

    <section id="news">
        <div class="bottom-of-page parallaxFG" style="background-image: url({% asset "FPO-bottom.svg" @path @optim %});"></div>

        <div class="grid-container grid-x grid-padding-x align-center tiles-intro">
            <div class="cell small-12">
                <h2>Latest Developer News</h2>
            </div>
        </div>

        <div class="tiles-container news-slider">
            <div id="rss-feed" class="grid-container grid-x grid-padding-x align-center"></div>
        </div>

        <div class="grid-container grid-x grid-padding-x align-center tiles-footer">
            <div class="cell small-12 medium-8 large-6 text-center">
                <p><a href="https://blog.mozilla.org/addons/">Visit add-ons blog</a></p>
            </div>
        </div>
    </section> 

</div>
