---
layout: default
---

<div class="home">
  
    <div class="grid-container grid-x grid-padding-x panel">
        <div class="cell small-12">
            {{ content }}
        </div>
    </div>
    <div class="grid-container grid-x grid-padding-x panel">
        <div class="cell small-12">

        {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
          <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>

        {%- endif -%}

        </div>
    </div>

</div>