<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="site">

    {%- include landing-header.html -%}

    <main class="site-content landing" aria-label="Content">

        {{ content }}

    </main>

    {%- include footer.html -%}

    <aside id="video-popup">
        <div class="bg"></div>
        <div class="grid-container grid-x grid-padding-x align-center align-middle">
            <div class="cell small-12 large-10"></div>
        </div>
    </aside>

    {% asset "bundle.js" %}
    {% asset "basket-client.js" %}"
  </body>

</html>
