<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.liquid -%}

    <body class="site sidebar">
        {%- include header.liquid -%}

        <div class="site-wrapper">

            <nav role="navigation" class="sidenav">

                <div class="sidenav-status">
                    <div class="sidenav-status-instruction">Select a section</div>
                    <div id="sidenav-status-pagename">Page Name</div>
                </div>

                <div class="sidenav-top" aria-hidden="true">
                    {%- include nav.liquid -%}
                </div>

                <div class="sidenav-detail">
                    {%- include nav.liquid -%}
                </div>

            </nav>

            <div class="site-content">

                <main class="site-content-body" aria-label="Content">

                    {{ content }}

                    {%- include page-meta-data.liquid -%}

                    {%- include up-next.liquid -%}

                </main>

                {% assign parts = page.url | split: "/" %}
                {% if parts[1] == "documentation" %}
                    {%- include documentation-topics.liquid -%}
                {% endif %}

                {%- include connect.liquid -%}

                {%- include footer.liquid -%}
            </div>

        </div>

        <aside id="video-popup">
            <div class="bg"></div>
            <div class="grid-container grid-x grid-padding-x align-center align-middle">
                <div class="cell small-12 large-10">
                    <button id="stdVideo-close"></button>
                </div>
            </div>
        </aside>

        <script src="/assets/js/bundle.js"></script>
        <script src="/assets/js/basket-client.js"></script>
    </body>
</html>
