---
layout: full-width
---

<div class="tag-results panel">
    <div class="grid-container grid-x grid-padding-x">
        <div class="cell small-12" id="result-list">
            {{ content }}
        </div>
    </div>
</div>
